.menu-item {
  color: aliceblue;
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.menu-item:hover {
  background-color: #454447;
  cursor: pointer;
}
.selected {
  color: #d48505 !important;
}
