.header {
	background-color: brown;
	color: aliceblue;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}
a {
	padding: 5px;
	color: #e9e7e7;
	/* position:absolute;
	top:0;
	right:0; */
}
a:hover {
	color: rgb(202, 119, 119);
	cursor: pointer;
}
